:root {
  --font-family-main: "Lora", serif;
  --font-family-heading: "Lora", serif;
  --font-family-countdown: "Lora", serif;
  --color-primary: #302d2d;
  --color-secondary: #f1eded;
  --color-terciario: #302d2d;
  --color-hover: rgba(194, 194, 194, 0.87);
  --color-highlight: #646cff;
  --color-error: tomato;
  --color-true: rgb(79, 223, 60);
  --font-weight-main: 500;
  --font-weight-heading: 400;
  --font-size-heading: 3.2em;
  --font-size-button: 1em;
  --border-radius: 8px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  --padding-button: 0.6em 1.2em;
  --padding-nav: 5px 10px;
  --margin-title: 2rem;
  --margin-section: 10rem 0;
  --margin: 20px 0;
  --font-size-subtitle: 1.3em;
  --font-size-date: 1.2em;
}

body {
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-main);
  margin: 0;
  padding: 0;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

#root {
  margin: auto;
  text-align: center;
}

h1 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-heading);
  line-height: 1.1;
  user-select: none;
  margin: 1rem 0;
}

.line-horizontal line, .line-vertical line {
  stroke: var(--color-secondary);
  stroke-width: 5;
  fill: none;
}

.line-horizontal, .line-vertical {
  opacity: 0;
  animation: fadeinout 4s infinite;
}


.container-titulo-informacion {
  text-align: center;
  margin-bottom: 0;
}

.line-vertical {
  height: calc(100% - 40px); /* Ajusta para tocar las líneas horizontales */
  margin: -10px 0;
}

#informacion {
  padding: 4rem 2rem;
  margin-top: 0;
  margin-bottom: 10rem;
  background-color: var(--color-terciario);
  color: var(--color-secondary);
  box-shadow: var(--box-shadow);
}
.container-datos-informacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  position: relative;
}

.fecha-informacion, .lugar-informacion {
  margin: 0 2rem;
  width: 15rem;
}

.titulo-informacion {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-heading);
  margin: 0.5rem;
}

.p {
  text-align: center;
  margin-top: 0.5rem;
  font-family: var(--font-family-main);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-main);
}

.datos {
  font-family: var(--font-family-main);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-main);
}

/* iframe {
  width: 20rem;
  height: 15rem;
} */
.map-wrapper {
  text-align: center;
}

.regalo {
  margin-top: 2rem;
}

.icono-mapa, .icono-regalo {
  cursor: pointer;
  margin: 20px 0;
  animation: draw 4s infinite;
}
.icono-mapa {
  display:block;
}

.map-container {
  margin-top: 20px;
  width: 100%;
  margin: auto;
}

iframe {
  max-width: 600px;
  height: 400px;
  border: 0;
}


.inicio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10rem;
  padding: 0;
  box-shadow: var(--box-shadow);
}

.countDown{
  margin-bottom: 10rem;
}
.cuentaRegresiva {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-family-countdown);
  font-weight: bold;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}

.circulo {
  width: 100px;
  height: 100px;
  background-color: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 2px;
  color: var(--color-primary);
  font-size: 3rem;
}

.ultimoCirculo{ 
  border-right: none;
  border-left-color: var(--color-primary);
}

.containerCirculo {
  border-right: 4px solid var(--color-primary);

}

.cuentaRegresiva {
  margin: 2rem auto; 
}

.contenedorFotos {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  max-height: 100%;
  max-width: 50%;
  align-items: center;
  justify-content: center; /* Centrar horizontalmente */
  overflow: hidden;
  user-select: none;
}

.fotos {
  width: 100%;
  height: auto;
  display: block;
  user-select: none;
}

.titulo {
  padding: 0;
  margin: var(--margin-title) 0;
}

.navegation {
  box-shadow: var(--box-shadow);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--color-primary);
  padding: 1rem;
  user-select: none;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
}

header.navegation {
  background-color: var(--color-primary);
  padding: 1rem;
  user-select: none;
}

header.navegation nav {
  text-align: center;
}

header.navegation nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

header.navegation nav ul li {
  display: inline-block;
  margin-right: 0 15px;
}

header.navegation nav ul li a {
  text-decoration: none;
  color: var(--color-secondary);
  padding: var(--padding-nav);
  transition: color 0.3s ease-in-out;
}

header.navegation nav ul li a:hover {
  color: var(--color-hover);
}

.formulario-container {
  background-color: var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  max-width: 400px;
  margin: auto;
  text-align: center;
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formulario h2 {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.input-group label {
  margin-bottom: 5px;
  text-align: left;
  color: var(--color-secondary);
}

.input-group input, .input-group select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  box-sizing: border-box; /* Ensure padding is included in width calculation */
  border: none;
  outline: none;
}

.input-group input:focus-visible, .input-group select:focus-visible {
  border: 1px solid var(--color-highlight);
  outline: none;
}

.button-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-group button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-highlight);
  color: var(--color-secondary);
  cursor: pointer;
  font-weight: bold;
}

.button-group button:last-child {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.button-group button:hover {
  opacity: 0.8;
}

a {
  font-weight: 500;
  text-decoration: none;
}

@keyframes fadeinout {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes draw {
  0% {
    stroke-dasharray: 0 100;
  }
  100% {
    stroke-dasharray: 100 0;
  }
}

.heart {
  display: inline-block;
  width: 7rem; /* Set a fixed width */
  height: 7rem; /* Set a fixed height to make it a square */
  background: none;
  position: relative;
}

.heart svg {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 2px;
  stroke-dasharray: 100 100;
  animation: draw 4s infinite;
  width: 100%;
  height: 100%;
}

.heart-path {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.heart svg path {
  stroke: var(--color-primary);
}

.texto {
  margin: auto;
}

.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.confirmacion {
  color: var(--color-true);
  font-weight: bold;
  margin-top: 20px;
}

.error {
  display: block;
  color: var(--color-error);
  font-size: x-small;
  font-weight: bold;
}

/* Nuevos Estilos Agregados */
.fecha {
  font-size: var(--font-size-date);
  color: var(--color-primary);
  margin-bottom: var(--margin);
}

.linea-separadora-inicio {
  border: 0;
  height: 2px;
  background: var(--color-primary);
  margin: var(--margin) 0;
}

.subtitulo {
  font-family: var(--font-family-main);
  font-size: var(--font-size-subtitle);
  color: var(--color-primary);
  margin: var(--margin) 0;
}

/* Media Queries */
@media (max-width: 768px) {
  button {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
  .formulario-container {
  margin-top: 0;
  margin-bottom: 5rem;
  padding: 15px;
  border-radius: 0;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.formulario h2 {
  font-size: 1.5em;
}

.input-group label {
  color: var(--color-primary);
}

.input-group input, .input-group select, .button-group button {
  padding: 8px;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.button-group {
  flex-direction: column;
}

.button-group button {
  width: 100%;
  margin-bottom: 10px;
}
  #informacion {
    padding: 2rem 1rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .titulo-informacion {
    font-size: 1.5rem;
    margin: 0.2rem;
  }
  .datos {
    font-size: 0.9rem;
  }
  .fecha-informacion, .lugar-informacion {
    margin: 0 0.4rem;
    width: 15rem;
  }
  
  iframe {
    width: 12rem;
    height: 8rem;
  }
  .inicio {
    flex-direction: column;
    height: auto;
    margin-top: 0;
    margin-bottom: 5rem;
  }
  .texto {
    padding-bottom: 2rem;
  }

  .titulo {
    margin-top: 2rem;
    font-size: 2em;
  }

  .contenedorFotos {
    display: flex;
    width: 100%;
    max-height: 70%;
    max-width: 100%;
    align-items: center;
    border-radius: 0;
    box-shadow: var(--box-shadow);
    margin-bottom: 3rem;
  }
  .fecha {
    margin-top: 4rem;
  }

  .circulo {
    font-size: 1.3rem;
  }

  .ultimoCirculo{
    padding: 0.4rem;
  }
  .ultimoCirculo p{
    margin: 0;
    font-size: 0.9rem;
  }
  .containerCirculo p{
    margin: 0;
    font-size: 0.9rem;
  }
  .containerCirculo {
    padding: 0.4rem;
  }

  header.navegation nav ul {
    flex-direction: column;
    align-items: center;
  }

  header.navegation nav ul li {
    margin: 10px 0;
  }
}
