:root {
  --font-family-main: "Lora", serif;
  --font-family-heading: "Lora", serif;
  --font-family-countdown: "Lora", serif;
  --color-primary: #302d2d;
  --color-secondary: #f1eded;
  --color-terciario: #302d2d;
  --color-hover: rgba(194, 194, 194, 0.87);
  --color-highlight: #646cff;
  --color-error: tomato;
  --font-weight-main: 500;
  --font-weight-heading: 400;
  --font-size-heading: 3.2em;
  --font-size-button: 1em;
  --border-radius: 8px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  --padding-button: 0.6em 1.2em;
  --padding-nav: 5px 10px;
  --margin-title: 2rem;
  --margin-section: 10rem 0;
  --margin: 20px 0;
  --font-size-subtitle: 1.3em;
  --font-size-date: 1.2em;
}

body {
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-main);
  margin: 0;
  padding: 0;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formulario-container {
  background-color: var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  max-width: 400px;
  width: 100%;
  text-align: center;
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formulario h2 {
  margin-bottom: 20px;
}

.formulario label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.formulario input, .formulario select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.formulario input:focus-visible {
  border: 1px solid var(--color-highlight);
  outline: none;
}

.formulario button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-highlight);
  color: var(--color-secondary);
  cursor: pointer;
  font-weight: bold;
  margin: 10px 1%;
}

.formulario button:last-child {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.formulario button:hover {
  opacity: 0.8;
}

a {
  font-weight: 500;
  text-decoration: none;
}

.error {
  color: var(--color-error);
  font-size: x-small;
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
  .formulario-container {
    padding: 15px;
  }

  .formulario h2 {
    font-size: 1.5em;
  }

  .formulario input, .formulario select, .formulario button {
    padding: 8px;
  }

  .formulario button {
    width: 100%;
    margin: 10px 0;
  }
}
