:root {
  --font-family-main: "Lora", serif;
  --font-family-heading: "Lora", serif;
  --font-family-countdown: "Lora", serif;
  --color-primary: #242424;
  --color-secondary: rgba(252, 250, 245, 0.87);
  --color-hover: rgba(194, 194, 194, 0.87);
  --color-highlight: #646cff;
  --color-error: tomato;
  --font-weight-main: 500;
  --font-weight-heading: 400;
  --font-size-heading: 3.2em;
  --font-size-button: 1em;
  --border-radius: 8px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  --padding-button: 0.6em 1.2em;
  --padding-nav: 5px 10px;
  --margin-title: 2rem;
  --margin-section: 10rem 0;
  --margin: 20px 0;
  --font-size-subtitle: 1.3em;
  --font-size-date: 1.2em;
}

body {
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-main);
  margin: 0;
  padding: 0;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

#root {
  margin: auto;
  text-align: center;
}

h1 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-heading);
  line-height: 1.1;
  user-select: none;
  margin: 1rem 0;
}

.inicio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.cuentaRegresiva {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-family-countdown);
  font-weight: bold;
  flex-wrap: wrap;
}

.circulo {
  width: 100px;
  height: 100px;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 2px;
  margin: 10px;
  color: var(--color-secondary);
  box-shadow: var(--box-shadow);
}

.contenedorFotos {
  
  display: flex;
  width: 100%;
  margin-top: 1rem;
  max-height: 100%;
  max-width: 50%;
  align-items: center;
  justify-content: center; /* Centrar horizontalmente */
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  user-select: none;
}

.fotos {
  width: 100%;
  height: auto;
  display: block;
  user-select: none;
}

.titulo {
  padding: 0;
  margin: var(--margin-title) 0;
}


.navegation {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

header.navegation {
  background-color: var(--color-primary);
  padding: 1rem;
  user-select: none;
}

header.navegation nav {
  text-align: right;
}

header.navegation nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

header.navegation nav ul li {
  display: inline-block;
  margin-right: 15px;
}

header.navegation nav ul li a {
  text-decoration: none;
  color: var(--color-secondary);
  padding: var(--padding-nav);
  transition: color 0.3s ease-in-out;
}

header.navegation nav ul li a:hover {
  color: var(--color-hover);
}

.sectionConfirmar {
  margin: var(--margin-section);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

form label {
  display: block;
  margin: 0.2rem;
}

form input {
  width: 50%;
  margin-bottom: 0.5rem;
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: var(--padding-button);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-main);
  font-family: inherit;
  background-color: #1a1a1a;
  color: var(--color-secondary);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-highlight);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 500;
  text-decoration: none;
}

@keyframes draw {
  0% {
    stroke-dasharray: 0 100;
  }
  100% {
    stroke-dasharray: 100 0;
  }
}

.heart {
  display: inline-block;
  width: 7rem; /* Set a fixed width */
  height: 7rem; /* Set a fixed height to make it a square */
  background: none;
  position: relative;
}

.heart svg {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 2px;
  stroke-dasharray: 100 100;
  animation: draw 4s infinite;
  width: 100%;
  height: 100%;
}
.heart-path {
  stroke-linecap: round;
  stroke-linejoin: round;
}
.heart svg path {
  stroke: var(--color-primary);
}

.texto {
  margin: auto;
}

.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.error {
  display: block;
  color: var(--color-error);
  font-size: x-small;
  font-weight: bold;
}

/* Nuevos Estilos Agregados */
.fecha {
  font-size: var(--font-size-date);
  color: var(--color-primary);
  margin-bottom: var(--margin);
}

.linea-separadora {
  border: 0;
  height: 2px;
  background: var(--color-primary);
  margin: var(--margin) 0;
}

.subtitulo {
  font-family: var(--font-family-main);
  font-size: var(--font-size-subtitle);
  color: var(--color-primary);
  margin: var(--margin) 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .inicio {
    flex-direction: column;
    height: auto;
    margin-top: 8rem;
  }

  .titulo {
    margin-top: 2rem;
    font-size: 2em;
  }

  .contenedorFotos {
    display: flex;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    align-items: center;
    border-radius: 0;
  }

  .cuentaRegresiva {
    flex-direction: column;
  }

  .circulo {
    width: 60px;
    height: 60px;
  }

  header.navegation nav ul {
    flex-direction: column;
    align-items: center;
  }

  header.navegation nav ul li {
    margin: 10px 0;
  }
}
